<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.ArticleMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.Article">
        <result column="title" property="title"/>
        <result column="submit" property="submit"/>
        <result column="is_top" property="isTop"/>
        <result column="category_id" property="categoryId"/>
        <result column="is_review" property="isReview"/>
        <result column="tag_id" property="tagId"/>
        <result column="user_name" property="userName"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="state" property="state"/>
        <result column="read_count" property="readCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="description" property="description"/>
        <result column="recommend" property="recommend"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `title`,
        `submit`,
        `is_top`,
        `category_id`,
        `is_review`,
        `tag_id`,
        `user_name`,
        `id`,
        `create_time`,
        `update_time`,
        `state`,
        `like_count`,
        `comment_count`,
        `description`,
        `recommend`
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_article (
            `title`,
            `submit`,
            `is_top`,
            `category_id`,
            `is_review`,
            `tag_id`,
            `user_name`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`,
            `state`,
            description
        ) VALUES (
            #{pojo.title},
            #{pojo.submit},
            #{pojo.isTop},
            #{pojo.categoryId},
            #{pojo.isReview},
            #{pojo.tagId},
            #{pojo.userName},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime},
            #{pojo.state},
            #{pojo.description}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.title!=null">`title`,</if>
            <if test="pojo.submit!=null">`submit`,</if>
            <if test="pojo.isTop!=null">`is_top`,</if>
            <if test="pojo.categoryId!=null">`category_id`,</if>
            <if test="pojo.isReview!=null">`is_review`,</if>
            <if test="pojo.tagId!=null">`tag_id`,</if>
            <if test="pojo.userName!=null">`user_name`,</if>
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.isDel!=null">`is_del`,</if>
            <if test="pojo.createTime!=null">`create_time`,</if>
            <if test="pojo.updateTime!=null">`update_time`,</if>
            <if test="pojo.state!=null">`state`,</if>
            <if test="pojo.description!=null">`description`</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.title!=null">#{pojo.title},</if>
            <if test="pojo.submit!=null">#{pojo.submit},</if>
            <if test="pojo.isTop!=null">#{pojo.isTop},</if>
            <if test="pojo.categoryId!=null">#{pojo.categoryId},</if>
            <if test="pojo.isReview!=null">#{pojo.isReview},</if>
            <if test="pojo.tagId!=null">#{pojo.tagId},</if>
            <if test="pojo.userName!=null">#{pojo.userName},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
            <if test="pojo.state!=null">#{pojo.state},</if>
            <if test="pojo.description!=null">#{pojo.description}</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO v_article(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.title},
            #{pojo.submit},
            #{pojo.isTop},
            #{pojo.categoryId},
            #{pojo.isReview},
            #{pojo.tagId},
            #{pojo.userName},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime},
            #{pojo.state},
            #{pojo.description}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">

        UPDATE v_article
        <set>
            <if test="pojo.title != null">`title` = #{pojo.title},</if>
            <if test="pojo.submit != null">`submit` = #{pojo.submit},</if>
            <if test="pojo.isTop != null">`is_top` = #{pojo.isTop},</if>
            <if test="pojo.categoryId != null">`category_id` = #{pojo.categoryId},</if>
            <if test="pojo.isReview != null">`is_review` = #{pojo.isReview},</if>
            <if test="pojo.tagId != null">`tag_id` = #{pojo.tagId},</if>
            <if test="pojo.userName != null">`user_name` = #{pojo.userName},</if>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.isDel != null">`is_del` = #{pojo.isDel},</if>
            <if test="pojo.createTime != null">`create_time` = #{pojo.createTime},</if>
            <if test="pojo.updateTime != null">`update_time` = #{pojo.updateTime},</if>
            <if test="pojo.state != null">`state` = #{pojo.state},</if>
            <if test="pojo.readCount != null">`read_count` = #{pojo.readCount},</if>
            <if test="pojo.likeCount != null and pojo.likeCount==1">`like_count` = (like_count+1),</if>
            <if test="pojo.likeCount != null and pojo.likeCount==0">`like_count` = (like_count-1),</if>
            <if test="pojo.commentCount != null and pojo.commentCount==1">`comment_count` = (comment_count+1),</if>
            <if test="pojo.commentCount != null and pojo.commentCount==0">`comment_count` = (comment_count-1),</if>
            <if test="pojo.description != null">`description` = #{pojo.description},</if>
            <if test="pojo.recommend != null">`recommend` = #{pojo.recommend}</if>

        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="query" parameterType="com.technicalinterest.group.dao.Article" resultMap="AllColumnMap">
        select <include refid="all_column"/> from v_article
        <where>
            <if test="pojo.id != null ">and id=#{pojo.id}</if>
            <if test="pojo.userName != null and pojo.userName != ''">and user_name=#{pojo.userName}</if>
            <if test="pojo.state != null">and state=#{pojo.state}</if>
        </where>

    </select>

    <select id="queryArticleList" resultType="com.technicalinterest.group.dto.ArticlesDTO" parameterType="com.technicalinterest.group.dto.QueryArticleDTO">
        select t1.id,title,t1.user_name as userName,t1.submit,t1.create_time as createTime,t1.category_id as categoryId,t2.name AS categoryCN,
        t1.tag_id AS tagId,t3.name AS tagCN,t1.is_top as isTop,t1.read_count as readCount,t1.like_count as likeCount,
        t1.comment_count as commentCount,t1.recommend as isRecommend
        from v_article t1 left join v_category t2 on t1.category_id=t2.id
        LEFT JOIN v_tag t3 on t1.tag_id=t3.id where t1.is_del=0
            <if test="pojo.userName != null and pojo.userName != ''">and t1.user_name=#{pojo.userName}</if>
            <if test="pojo.state != null">and t1.state=#{pojo.state}</if>
            <if test="pojo.keywords != null and pojo.keywords !=''">and (t1.title like CONCAT('%',#{pojo.keywords},'%') or t1.submit like CONCAT('%',#{pojo.keywords},'%'))</if>
            <if test="pojo.archiveTime != null ">and date_format(t1.create_time,'%Y年%m月' )=#{pojo.archiveTime}</if>
            <if test="pojo.categoryId != null ">and t1.category_id=#{pojo.categoryId}</if>
        order by
        <choose>
            <when test="pojo.userName != null and pojo.userName != ''">
                t1.is_top DESC
            </when>
            <otherwise>
                t1.recommend DESC
            </otherwise>
        </choose>
        <if test="pojo.orderBy==1">
            ,t1.id desc
        </if>
        <if test="pojo.orderBy==2">
            ,t1.read_count desc
        </if>
        <if test="pojo.orderBy==3">
            ,t1.like_count desc
        </if>
        <if test="pojo.orderBy==4">
            ,t1.comment_count desc
        </if>

    </select>

    <select id="queryArticleListCount" resultType="java.lang.Integer" parameterType="com.technicalinterest.group.dto.QueryArticleDTO">
        select count(1) from v_article where is_del=0
            <if test="pojo.userName != null and pojo.userName != ''">and user_name=#{pojo.userName}</if>
            <if test="pojo.state != null">and state=#{pojo.state}</if>
            <if test="pojo.keywords != null and pojo.keywords !=''">and (title like CONCAT('%',#{pojo.keywords},'%') or submit like CONCAT('%',#{pojo.keywords},'%'))</if>
            <if test="pojo.archiveTime != null ">and date_format(create_time,'%Y年%m月' )=#{pojo.archiveTime}</if>
            <if test="pojo.categoryId != null ">and category_id=#{pojo.categoryId}</if>
    </select>

    <select id="getArticleInfo" resultType="com.technicalinterest.group.dto.ArticlesDTO">
        select t1.id,t1.title,t1.user_name as userName,t1.submit,t1.create_time as createTime,t1.category_id as categoryId,t2.name AS categoryCN,
        t1.tag_id AS tagId,t3.name AS tagCN,t1.is_top as isTop,t1.read_count as readCount,
        t1.like_count AS likeCount,t1.comment_count as commentCount
        <if test="userName!=null and userName!=''">
            ,(SELECT count(1) FROM v_collection t4 WHERE t4.article_id=t1.id and t4.user_name=#{userName}) AS vCollection,
            (SELECT count(1) FROM v_like t5 WHERE t5.source_id=t1.id and t5.user_name=#{userName}) AS vLike
        </if>
        from v_article t1 left join v_category t2 on t1.category_id=t2.id
        LEFT JOIN v_tag t3 on t1.tag_id=t3.id
        where t1.id=#{id} and t1.is_del=0
    </select>

    <select id="queryArticleListOrderBy" resultType="com.technicalinterest.group.dto.ArticlesDTO">
        select id,title,user_name as userName ,create_time as createTime
        <if test="flag==2">
            ,read_count as readCount
        </if>
        <if test="flag==3">
            ,like_count as likeCount
        </if>
        <if test="flag==4">
            ,t1.comment_count as commentCount
        </if>
        from v_article where state=1 and is_del=0
        <if test="userName!=null and userName!=''">and user_name=#{userName}</if>
        <if test="flag==1">
            order by id desc
        </if>
        <if test="flag==2">
            order by read_count desc
        </if>
        <if test="flag==3">
            order by like_count desc
        </if>
        <if test="flag==4">
            order by t1.comment_count desc
        </if>
        limit 0,#{total}
    </select>

    <select id="queryArticleListArchive" resultType="com.technicalinterest.group.dto.ArticlesDTO">
        select date_format(create_time,'%Y年%m月' ) as time,count(id)as sum,user_name as userName from v_article where state=1 and is_del=0
        <if test="userName!=null and userName!=''">and user_name=#{userName}</if>
        group by date_format(create_time,'%Y-%m')
    </select>

    <delete id="delArticle">
        delete from v_article where id=#{id}
    </delete>

    <update id="updateReadCount">
        update v_article set read_count=(read_count+1) where id=#{id}
    </update>


    <select id="allArticleList" resultType="com.technicalinterest.group.dto.ArticlesDTO" parameterType="com.technicalinterest.group.dto.QueryArticleDTO">
        select t1.id,title,t1.user_name as userName,t1.submit,t1.create_time as createTime,t1.category_id as categoryId,t2.name AS categoryCN,
        t1.tag_id AS tagId,t3.name AS tagCN,t1.read_count as readCount,t1.is_del as isDel
        from v_article t1 left join v_category t2 on t1.category_id=t2.id
        LEFT JOIN v_tag t3 on t1.tag_id=t3.id
        <if test="pojo.userName != null and pojo.userName != ''">and t1.user_name=#{pojo.userName}</if>
        <if test="pojo.state != null">and t1.state=#{pojo.state}</if>
        <if test="pojo.condition != null and pojo.condition !=''">and t1.title like CONCAT('%',#{pojo.condition},'%')</if>
        <if test="pojo.condition != null and pojo.condition !=''">and t1.submit like CONCAT('%',#{pojo.condition},'%')</if>
        <if test="pojo.archiveTime != null ">and date_format(t1.create_time,'%Y年%m月' )=#{pojo.archiveTime}</if>
        order by t1.create_time desc

    </select>

    <select id="allArticleListCount" resultType="java.lang.Integer" parameterType="com.technicalinterest.group.dto.QueryArticleDTO">
        select count(1) from v_article
        <where>
            <if test="pojo.userName != null and pojo.userName != ''">and user_name=#{pojo.userName}</if>
            <if test="pojo.state != null">and state=#{pojo.state}</if>
            <if test="pojo.condition != null and pojo.condition !=''">and title like CONCAT('%',#{pojo.condition},'%')</if>
            <if test="pojo.condition != null and pojo.condition !=''">and submit like CONCAT('%',#{pojo.condition},'%')</if>
            <if test="pojo.archiveTime != null">and date_format(create_time,'%Y年%m月' )=#{pojo.archiveTime}</if>
        </where>

    </select>

    <select id="getBlogInfoByUser" resultType="com.technicalinterest.group.dto.UserBlogDTO">
        SELECT COUNT(id)as blogCount,SUM(read_count)AS readCount,SUM(like_count) AS likeCount,SUM(comment_count)AS commentCount
         FROM v_article WHERE is_del=0 AND user_name=#{userName}
    </select>

</mapper>

