<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.ArticleMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.Article">
        <result column="title" property="title"/>
        <result column="submit" property="submit"/>
        <result column="is_top" property="isTop"/>
        <result column="category_id" property="categoryId"/>
        <result column="is_review" property="isReview"/>
        <result column="tag_id" property="tagId"/>
        <result column="user_name" property="userName"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="state" property="state"/>
        <result column="read_count" property="readCount"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `title`,
        `submit`,
        `is_top`,
        `category_id`,
        `is_review`,
        `tag_id`,
        `user_name`,
        `id`,
        `is_del`,
        `create_time`,
        `update_time`,
        `state`,
         `state`
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO article (
            `title`,
            `submit`,
            `is_top`,
            `category_id`,
            `is_review`,
            `tag_id`,
            `user_name`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`,
            `state`
        ) VALUES (
            #{pojo.title},
            #{pojo.submit},
            #{pojo.isTop},
            #{pojo.categoryId},
            #{pojo.isReview},
            #{pojo.tagId},
            #{pojo.userName},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime},
            #{pojo.state}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.title!=null">`title`,</if>
            <if test="pojo.submit!=null">`submit`,</if>
            <if test="pojo.isTop!=null">`is_top`,</if>
            <if test="pojo.categoryId!=null">`category_id`,</if>
            <if test="pojo.isReview!=null">`is_review`,</if>
            <if test="pojo.tagId!=null">`tag_id`,</if>
            <if test="pojo.userName!=null">`user_name`,</if>
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.isDel!=null">`is_del`,</if>
            <if test="pojo.createTime!=null">`create_time`,</if>
            <if test="pojo.updateTime!=null">`update_time`,</if>
            <if test="pojo.state!=null">`state`</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.title!=null">#{pojo.title},</if>
            <if test="pojo.submit!=null">#{pojo.submit},</if>
            <if test="pojo.isTop!=null">#{pojo.isTop},</if>
            <if test="pojo.categoryId!=null">#{pojo.categoryId},</if>
            <if test="pojo.isReview!=null">#{pojo.isReview},</if>
            <if test="pojo.tagId!=null">#{pojo.tagId},</if>
            <if test="pojo.userName!=null">#{pojo.userName},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
            <if test="pojo.state!=null">#{pojo.state}</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO article(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.title},
            #{pojo.submit},
            #{pojo.isTop},
            #{pojo.categoryId},
            #{pojo.isReview},
            #{pojo.tagId},
            #{pojo.userName},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime},
            #{pojo.state}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">

        UPDATE article
        <set>
            <if test="pojo.title != null">`title` = #{pojo.title},</if>
            <if test="pojo.submit != null">`submit` = #{pojo.submit},</if>
            <if test="pojo.isTop != null">`is_top` = #{pojo.isTop},</if>
            <if test="pojo.categoryId != null">`category_id` = #{pojo.categoryId},</if>
            <if test="pojo.isReview != null">`is_review` = #{pojo.isReview},</if>
            <if test="pojo.tagId != null">`tag_id` = #{pojo.tagId},</if>
            <if test="pojo.userName != null">`user_name` = #{pojo.userName},</if>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.isDel != null">`is_del` = #{pojo.isDel},</if>
            <if test="pojo.createTime != null">`create_time` = #{pojo.createTime},</if>
            <if test="pojo.updateTime != null">`update_time` = #{pojo.updateTime},</if>
            <if test="pojo.state != null">`state` = #{pojo.state}</if>
            <if test="pojo.readCount != null">`read_count` = #{pojo.readCount}</if>

        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="listArticle" resultType="com.technicalinterest.group.dto.ArticlesDTO" parameterType="com.technicalinterest.group.dto.QueryArticleDTO">
        select id,title,user_name as userName,submit,update_time as updateTime from article
        <where>
            <if test="pojo.userName != null">and user_name=#{pojo.userName}</if>
            <if test="pojo.state != null">and state=#{pojo.state}</if>
            <if test="pojo.condition != null">and title like CONCAT('%',#{pojo.condition},'%')</if>
            <if test="pojo.condition != null">and submit like CONCAT('%',#{pojo.condition},'%')</if>
            <if test="pojo.archiveTime != null">and date_format(update_time,'%Y年%m月' )=#{pojo.archiveTime}</if>
        </where>
        order by
        <if test="pojo.userName != null">is_top,</if>
        id desc

    </select>

    <select id="listArticleCount" resultType="java.lang.Integer" parameterType="com.technicalinterest.group.dto.QueryArticleDTO">
        select count(1) from article
        <where>
            <if test="pojo.userName != null">and user_name=#{pojo.userName}</if>
            <if test="pojo.state != null">and state=#{pojo.state}</if>
            <if test="pojo.condition != null">and title like CONCAT('%',#{pojo.condition},'%')</if>
            <if test="pojo.condition != null">and submit like CONCAT('%',#{pojo.condition},'%')</if>
            <if test="pojo.archiveTime != null">and date_format(update_time,'%Y年%m月' )=#{pojo.archiveTime}</if>
        </where>
    </select>

    <select id="getArticleInfo" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from article where id=#{id}
    </select>

    <select id="listArticleOrderBy" resultType="com.technicalinterest.group.dto.ArticlesDTO">
        select id,title,user_name as userName,update_time as updateTime from article where state=1
        <if test="userName!=null">and user_name=#{userName}</if>
        <if test="flag==1">
            order by update_time desc
        </if>
        <if test="flag==2">
            order by read_count desc
        </if>
        limit 0,10
    </select>

    <select id="listArticleArchive" resultType="com.technicalinterest.group.dto.ArticlesDTO">
        select date_format(update_time,'%Y年%m月' ) as time,count(id)as sum,user_name as userName from article where state=1
        <if test="userName!=null">and user_name=#{userName}</if>
        group by date_format(update_time,'%Y-%m')
    </select>
</mapper>

