<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.AuthMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.Auth">
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `name`,
        `type`,
        `url`,
        `icon`,
        `id`,
        `is_del`,
        `create_time`,
        `update_time`,
        `parent_id`
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_auth (
            `name`,
            `type`,
            `url`,
            `icon`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`
        ) VALUES (
            #{pojo.name},
            #{pojo.type},
            #{pojo.url},
            #{pojo.icon},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.type!=null"> `type`,</if>
            <if test="pojo.url!=null"> `url`,</if>
            <if test="pojo.icon!=null"> `icon`,</if>
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.isDel!=null"> `is_del`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.type!=null">#{pojo.type},</if>
            <if test="pojo.url!=null">#{pojo.url},</if>
            <if test="pojo.icon!=null">#{pojo.icon},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO v_auth (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.name},
            #{pojo.type},
            #{pojo.url},
            #{pojo.icon},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE v_auth
        <set>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.type != null"> `type` = #{pojo.type}, </if>
            <if test="pojo.url != null"> `url` = #{pojo.url}, </if>
            <if test="pojo.icon != null"> `icon` = #{pojo.icon}, </if>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.isDel != null"> `is_del` = #{pojo.isDel}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

