<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.CommentMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.Comment">
        <result column="comment_content" property="commentContent"/>
        <result column="user_name" property="userName"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="volt_number" property="voltNumber"/>
        <result column="article_id" property="articleId"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_auther" property="isAuther"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_view" property="isView"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `comment_content`,
        `user_name`,
        `ip_address`,
        `volt_number`,
        `article_id`,
        `parent_id`,
        `is_auther`,
        `id`,
        `is_del`,
        `create_time`,
        `update_time`,
        `is_view`
    </sql>
    <!--auto generated Code-->
    <sql id="commnet_column">
        t1.`comment_content`,
        t1.`user_name`,
        `ip_address`,
        t1.`volt_number`,
        t1.`article_id`,
        t1.`parent_id`,
        t1.`is_auther`,
        t1.`id`,
        t1.`create_time`,
        t2.photo as avatar
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_comment (
            `comment_content`,
            `user_name`,
            `ip_address`,
            `volt_number`,
            `article_id`,
            `parent_id`,
            `is_auther`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`
        ) VALUES (
            #{pojo.commentContent},
            #{pojo.userName},
            #{pojo.ipAddress},
            #{pojo.voltNumber},
            #{pojo.articleId},
            #{pojo.parentId},
            #{pojo.isAuther},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.commentContent!=null">`comment_content`,</if>
            <if test="pojo.userName!=null">`user_name`,</if>
            <if test="pojo.ipAddress!=null">`ip_address`,</if>
            <if test="pojo.voltNumber!=null">`volt_number`,</if>
            <if test="pojo.articleId!=null">`article_id`,</if>
            <if test="pojo.parentId!=null">`parent_id`,</if>
            <if test="pojo.isAuther!=null">`is_auther`,</if>
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.isDel!=null">`is_del`,</if>
            <if test="pojo.createTime!=null">`create_time`,</if>
            <if test="pojo.updateTime!=null">`update_time`,</if>
            <if test="pojo.isView!=null">`is_view`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.commentContent!=null">#{pojo.commentContent},</if>
            <if test="pojo.userName!=null">#{pojo.userName},</if>
            <if test="pojo.ipAddress!=null">#{pojo.ipAddress},</if>
            <if test="pojo.voltNumber!=null">#{pojo.voltNumber},</if>
            <if test="pojo.articleId!=null">#{pojo.articleId},</if>
            <if test="pojo.parentId!=null">#{pojo.parentId},</if>
            <if test="pojo.isAuther!=null">#{pojo.isAuther},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
            <if test="pojo.isView!=null">#{pojo.isView},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO v_comment (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.commentContent},
            #{pojo.userName},
            #{pojo.ipAddress},
            #{pojo.voltNumber},
            #{pojo.articleId},
            #{pojo.parentId},
            #{pojo.isAuther},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE v_comment
        <set>
            <if test="pojo.commentContent != null">`comment_content` = #{pojo.commentContent},</if>
            <if test="pojo.userName != null">`user_name` = #{pojo.userName},</if>
            <if test="pojo.ipAddress != null">`ip_address` = #{pojo.ipAddress},</if>
            <if test="pojo.voltNumber != null">`volt_number` = #{pojo.voltNumber},</if>
            <if test="pojo.articleId != null">`article_id` = #{pojo.articleId},</if>
            <if test="pojo.parentId != null">`parent_id` = #{pojo.parentId},</if>
            <if test="pojo.isAuther != null">`is_auther` = #{pojo.isAuther},</if>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.isDel != null">`is_del` = #{pojo.isDel},</if>
            <if test="pojo.createTime != null">`create_time` = #{pojo.createTime},</if>
            <if test="pojo.updateTime != null">`update_time` = #{pojo.updateTime}</if>
            <if test="pojo.isView != null">`is_view` = #{pojo.isView}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="queryCommentById" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from v_comment where id=#{id}
    </select>

    <delete id="delComment">
        delete from  v_comment where id=#{id}
    </delete>

    <select id="queryListComment" resultType="com.technicalinterest.group.dto.CommentDTO">
        select
        <include refid="commnet_column"/>
        from v_comment t1 inner join v_user t2 on t1.user_name=t2.user_name
        <where>
            <if test="userName!=null and userName!=''">and user_name=#{userName}</if>
            <if test="articleId!=null">and article_id=#{articleId} and parent_id=0</if>
            <if test="parentId!=null">and parent_id=#{parentId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="queryListCommentNotice" resultType="com.technicalinterest.group.dto.CommentNoticeDTO">
        SELECT t1.title,t2.id,t2.article_id as articleId,t2.user_name as userName,t2.create_time as createTime,t2.is_view as isView FROM v_article t1 INNER JOIN v_comment t2 on t1.id=t2.article_id
	    AND t2.parent_id=0
        <where>
            <if test="userName!=null"> and t1.user_name=#{userName}</if>
            <if test="isView != null">and t2.is_view = #{isView}</if>
        </where>
	     order by t2.create_time desc
    </select>

    <select id="queryCountCommentNotice" resultType="java.lang.Integer">
         SELECT count(t2.id) from v_article t1 INNER JOIN v_comment t2 on t1.id=t2.article_id
	    AND t2.parent_id=0
	    <where>
            <if test="userName!=null"> and t1.user_name=#{userName}</if>
            <if test="isView != null">and t2.is_view = #{isView}</if>
        </where>
    </select>
</mapper>

