<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.ContentMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.Content">
        <result column="article_id" property="articleId"/>
        <result column="content" property="content"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `article_id`,
        `content`,
        `id`,
        `is_del`,
        `create_time`,
        `update_time`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO content (
            `article_id`,
            `content`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`
        ) VALUES (
            #{pojo.articleId},
            #{pojo.content},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.articleId!=null">`article_id`,</if>
            <if test="pojo.content!=null">`content`,</if>
            <if test="pojo.id!=null">`id`,</if>
            <if test="pojo.isDel!=null">`is_del`,</if>
            <if test="pojo.createTime!=null">`create_time`,</if>
            <if test="pojo.updateTime!=null">`update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.articleId!=null">#{pojo.articleId},</if>
            <if test="pojo.content!=null">#{pojo.content},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO content (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.articleId},
            #{pojo.content},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE content
        <set>
            <if test="pojo.articleId != null">`article_id` = #{pojo.articleId},</if>
            <if test="pojo.content != null">`content` = #{pojo.content},</if>
            <if test="pojo.id != null">`id` = #{pojo.id},</if>
            <if test="pojo.isDel != null">`is_del` = #{pojo.isDel},</if>
            <if test="pojo.createTime != null">`create_time` = #{pojo.createTime},</if>
            <if test="pojo.updateTime != null">`update_time` = #{pojo.updateTime}</if>
        </set>
        WHERE article_id = #{pojo.articleId}
    </update>

    <select id="getContent" resultMap="AllColumnMap" parameterType="com.technicalinterest.group.dao.Content">
        select
        <include refid="all_column"/>
        from content WHERE article_id = #{articleId}
    </select>

    <delete id="delContent">
        delete from content WHERE article_id = #{articleId}
    </delete>
</mapper>

