<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.RoleMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.Role">
        <result column="name" property="name"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="type" property="type"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `name`,
        `id`,
        `is_del`,
        `create_time`,
        `update_time`,
`type`
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_role (
            `name`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`
        ) VALUES (
            #{pojo.name},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.isDel!=null"> `is_del`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO v_role (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.name},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE v_role
        <set>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.isDel != null"> `is_del` = #{pojo.isDel}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="getRoleList" resultType="com.technicalinterest.group.dto.RoleDTO" parameterType="com.technicalinterest.group.dao.Role">
        SELECT t1.id,t1.`type`,t1.name,t1.create_time as createTime,(SELECT COUNT(1) FROM v_user_role t2 WHERE t2.role_id=t1.id GROUP BY t2.role_id)AS userNum FROM v_role t1
        <where>
            <if test="pojo.name!=null and pojo.name!=''">and t1.name=#{pojo.name}</if>
            <if test="pojo.type!=null ">and t1.type=#{pojo.type}</if>
        </where>

    </select>

    <select id="getRole" resultMap="AllColumnMap" parameterType="com.technicalinterest.group.dao.Role">
        select <include refid="all_column"/> from v_role t1
        <where>
            <if test="pojo.id!=null ">and t1.id=#{pojo.id}</if>
            <if test="pojo.name!=null and pojo.name!=''">and t1.name=#{pojo.name}</if>
            <if test="pojo.type!=null ">and t1.type=#{pojo.type}</if>
        </where>
    </select>
</mapper>

