<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technicalinterest.group.mapper.RoleAuthMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.technicalinterest.group.dao.RoleAuth">
        <result column="role_id" property="roleId"/>
        <result column="auth_id" property="authId"/>
        <result column="id" property="id"/>
        <result column="is_del" property="isDel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `role_id`,
        `auth_id`,
        `id`,
        `is_del`,
        `create_time`,
        `update_time`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_role_auth (
            `role_id`,
            `auth_id`,
            `id`,
            `is_del`,
            `create_time`,
            `update_time`
        ) VALUES (
            #{pojo.roleId},
            #{pojo.authId},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO v_role_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.roleId!=null"> `role_id`,</if>
            <if test="pojo.authId!=null"> `auth_id`,</if>
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.isDel!=null"> `is_del`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.roleId!=null">#{pojo.roleId},</if>
            <if test="pojo.authId!=null">#{pojo.authId},</if>
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.isDel!=null">#{pojo.isDel},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO v_role_auth (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.roleId},
            #{pojo.authId},
            #{pojo.id},
            #{pojo.isDel},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE v_role_auth
        <set>
            <if test="pojo.roleId != null"> `role_id` = #{pojo.roleId}, </if>
            <if test="pojo.authId != null"> `auth_id` = #{pojo.authId}, </if>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.isDel != null"> `is_del` = #{pojo.isDel}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="queryAuthByRole" resultType="com.technicalinterest.group.dto.RoleAuthDTO">
        SELECT t1.id as authId,t2.`name` as authName,t2.url,t2.type as authType,t2.icon FROM v_role_auth t1 INNER JOIN v_auth t2
        ON t1.auth_id=t2.id and t1.is_del=0 and t2.is_del=0
        <where>
            <if test="roleId!=null">and t1.role_id=#{roleId}</if>
            <if test="type!=null">and t2.type=#{type}</if>
        </where>
    </select>
</mapper>

