<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <springProperty name="APP" source="app.log.app" defaultValue="user_service"/>

    <springProperty name="LOG_HOME" source="app.log.home" defaultValue="logs"/>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}\(%F:%L\) %X{rpc_track} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="InfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP}_info.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}\(%F:%L\) %X{rpc_track} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/backup/${APP}_info.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="DebugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP}_debug.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}\(%F:%L\) %X{rpc_track} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/backup/${APP}_debug.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="ErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${APP}_error.log</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%thread] %-5level %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{5}\(%F:%L\) %X{rpc_track} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/backup/${APP}_error.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>


    <springProfile name="prod">
        <!--运维启动脚本中检测到error字符串会认为应用启动错误，springboot中有error处理类导致脚本错误识别-->
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="InfoAppender"/>
            <appender-ref ref="ErrorAppender"/>
        </logger>
    </springProfile>

    <springProfile name="!prod">
        <!--非生产环境下sql打印到控制台，便于调试-->
        <logger name="mapper" level="DEBUG" additivity="false">
            <appender-ref ref="DebugAppender"/>
        </logger>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="InfoAppender"/>
        <appender-ref ref="ErrorAppender"/>
    </root>

</configuration>